<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TbJlSelectMapper">

    <resultMap type="TbJlSelect" id="TbJlSelectResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="jlId"    column="jl_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTbJlSelectVo">
        select tj.id, tj.user_id, tj.jl_id, tj.create_time, su.nick_name as userName,tjl.name as jlName from tb_jl_select tj
        LEFT JOIN sys_user su ON su.user_id = tj.user_id
        LEFT JOIN tb_jiaolian tjl ON tjl.id = tj.jl_id
    </sql>

    <select id="selectTbJlSelectList" parameterType="TbJlSelect" resultMap="TbJlSelectResult">
        <include refid="selectTbJlSelectVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="jlId != null "> and jl_id = #{jlId}</if>
        </where>
    </select>

    <select id="selectTbJlSelectById" parameterType="Long" resultMap="TbJlSelectResult">
        <include refid="selectTbJlSelectVo"/>
        where tj.id = #{id}
    </select>

    <insert id="insertTbJlSelect" parameterType="TbJlSelect">
        insert into tb_jl_select
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="jlId != null">jl_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="jlId != null">#{jlId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTbJlSelect" parameterType="TbJlSelect">
        update tb_jl_select
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="jlId != null">jl_id = #{jlId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbJlSelectById" parameterType="Long">
        delete from tb_jl_select where id = #{id}
    </delete>

    <delete id="deleteTbJlSelectByIds" parameterType="String">
        delete from tb_jl_select where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
