<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TbShopMapper">

    <resultMap type="TbShop" id="TbShopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="summary"    column="summary"    />
        <result property="address"    column="address"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTbShopVo">
        select id, name, summary, address, create_time from tb_shop
    </sql>

    <select id="selectTbShopList" parameterType="TbShop" resultMap="TbShopResult">
        <include refid="selectTbShopVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
        </where>
    </select>

    <select id="selectTbShopById" parameterType="Long" resultMap="TbShopResult">
        <include refid="selectTbShopVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbShop" parameterType="TbShop">
        insert into tb_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="summary != null">summary,</if>
            <if test="address != null">address,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="summary != null">#{summary},</if>
            <if test="address != null">#{address},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTbShop" parameterType="TbShop">
        update tb_shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="address != null">address = #{address},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbShopById" parameterType="Long">
        delete from tb_shop where id = #{id}
    </delete>

    <delete id="deleteTbShopByIds" parameterType="String">
        delete from tb_shop where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
